@import '~antd/dist/antd.css';

div .ant-layout{
  height: 100vh ;
}
.footer{
  background-color: #03192b;
  color: white
}
.header{
  background-color: #03192b;
  color: aqua;
  /* margin: 0 10px; */
}
.sider{  
  background-color: rgb(133, 131, 131);
}