@import '~antd/dist/antd.css';
.login , .sign-up{
    width: 100%;
    height: 100vh;
    background-color: #F0F2F5;
}
.sign-up{
        height: 100%;
}

.login .container,
.sign-up .container{
    position: relative;
    max-width: 500px;
    width: 100%;
    top:50%;
    left: 50%;
transform: translate(-50%,-50%);
padding: 20px;
    box-shadow: 3px 3px 7px 10px darkgray;
    border-radius: 10px;
    background-color: white;
}
.ant-form-item-label{
    text-align: left;
}

